ASSET_CLI_LOG_LEVEL=info
ASSET_CLI_LOG_FORMAT=console

# Required MinIO credentials.
ASSET_CLI_MINIO_ENDPOINT=127.0.0.1:9000
ASSET_CLI_MINIO_ACCESS_KEY=
ASSET_CLI_MINIO_SECRET_KEY=
ASSET_CLI_MINIO_BUCKET=
ASSET_CLI_MINIO_REGION=
ASSET_CLI_MINIO_USE_SSL=true
